<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        {% block head_additional %}{% endblock %}

        <link rel="search" type="application/opensearchdescription+xml"
              href="{{ MEDIA_URL }}opensearch.xml" title="SymPy Gamma" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

        <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
            for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
                mixpanel.init("cc2c06325cdadd9d44035495d5225d52");</script><!-- end Mixpanel -->

    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"
                type="text/javascript"></script>
        <!--<script src="{{ MEDIA_URL }}js/spin.min.js" type="text/javascript"></script>-->
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                jax: ["input/TeX", "output/HTML-CSS"],
                TeX: {
                    extensions: ["AMSmath.js", "AMSsymbols.js", "noErrors.js", "noUndefined.js"]
                },
                "HTML-CSS": {
                    minScaleAdjust: 100
                },
                menuSettings: {
                    context: "MathJax",
                    zoom: "Hover",
                    ALT: true
                },
                MathZoom: {
                    delay: 100
                },
                extensions: ["tex2jax.js"],
                messageStyle: "none",
                tex2jax: {preview: "none"}
            });
        </script>
        <script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
        </script>
        <script src="{{ MEDIA_URL }}js/spin.min.js" type="text/javascript"></script>
        <div class="gbh" style="left: 0px; opacity: 1; "></div>
    {% block content %}
    {% endblock %}
        <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/base.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/card.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/plot.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/factordiagram.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/doc.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/gamma.js" type="text/javascript"></script>
    </body>
</html>
