{% extends "base.html" %}

{% load extra_tags %}
{% block title %}
Loading
{% endblock %}

{% block content %}
<br>

<div id = "imgEl">
</div>

<div id = "cardsEl">
</div>

<div id = "spinnerEl">
</div>

<script>
    // --- Add spinny animation ---
    var opts = {
          lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 0.25 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'relative' // Element positioning (default is absolute)
    }
    // --- Add spinner ---
    var spinner = new Spinner(opts).spin();
    $("#spinnerEl").append("<br>");
    $("#spinnerEl").append(spinner.el);

    var BASE_BUCKET_URL = "https://s3.amazonaws.com/mpxresults/";

    function renderLatex(latex, id) {
        $.ajax('/input/', {
            type: 'get',
            data: {i: latex},
            dataType: 'html',
            success: function(html) {
                if (id) {
                    $("#imgEl").empty();
                    var img = $("<img/>");
                    img.on('load', function() {$("#spinnerEl").remove();});
                    img.attr('src', BASE_BUCKET_URL + id + ".jpg");
                    img.attr('class', 'img');

                    $("#imgEl").append(
                        $("<div></div>").attr('align', 'middle')
                        .append(img)
                    );
                }
                $("#cardsEl").empty();
                $("#cardsEl").append(html);
                evaluateCards().done(function() {
                    setupPlots();
                    setupExamples();
                    setupSavedQueries();
                    setupFactorization();
                    setupDidYouMean();
                    setupVariableChooser();
                });

                $("#input").submit(function( event ) {
                  var latex = $(this).find('input').val()
                  renderLatex(latex, "");
                  event.preventDefault();
                });
            }
        });
    }

    var tries = 0;
    function loadRequest() {
        var id = "{{ image_id }}";
        var jsonURL = BASE_BUCKET_URL + id + ".json";

        $.getJSON(jsonURL)
            .fail(function() {
                tries++;
                if (tries < 20) {
                    setTimeout(loadRequest, 500);
                }
                // TODO: add logic if times out
            })
            .done(function(data) {
                renderLatex(data.latex, id);
            });
    }

    loadRequest();

</script>
{% endblock %}
