{% extends "base.html" %}

{% load extra_tags %}
{% block title %}
Loading
{% endblock %}

{% block content %}

<div class="result">
    <div id="extra-info"></div>
</div>
<div id = "cardsEl"></div>

<div id = "errorEl"></div>

<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>

<script>
    var currentRequest = null;
    function showInputCard(latex) {
        var card = $(
            '<div class="result_card no_actions">' +
                '<div class="card_title unselectable">' + 
                    '<a>Input</a>' +
                '</div>' +
                '<div class="cell_input"></div>' +
                '<div class="cell_output">' +
                '</div>' +
            '</div>'
        );

        card.find('.cell_output').text('$$' + latex + '$$');

        $('.result-cards').empty();
        $('.result-cards').append(card);

        MathJax.Hub.Queue(["Typeset", MathJax.Hub, card[0]]);
    }

    function setLatex(latex, arr) {
        if (currentRequest != null) {
            try {
                console.log("Canceled pending request");
                currentRequest.abort();
            } catch (err) {}
        }

        if ($('.result').length) {
            showInputCard(latex); 
        }

        $('#extra-info').empty();
        if (arr) {
            var card = $(
                '<div class="result_card no_actions">' +
                    '<div class="card_title unselectable">' + 
                        '<a>Solving first input</a>' +
                    '</div>' +
                    '<div class="cell_input"></div>' +
                    '<div class="cell_output">' +
                    '</div>' +
                    "<center>Support for solving systems of equations coming soon!</center>" +
                '</div>'
            );

            var composite = "\\bbox[2pt,border:2px solid black]{"+arr[0]+"}\\\\";
            for (var i = 1; i < arr.length; i++) {
                composite += arr[i];
                if (i != arr.length - 1)
                    composite += "\\\\";
            };

            card.find('.cell_output').text('$$' + composite + '$$');

            $('#extra-info').append(card);

            MathJax.Hub.Queue(["Typeset", MathJax.Hub, card[0]]);
        }

        currentRequest = $.ajax('/input/', {
            type: 'get',
            data: {i: latex},
            dataType: 'html',
            success: function(html) {
                currentRequest = null;

                $("#cardsEl").empty();
                $("#cardsEl").append(html);
                evaluateCards().done(function() {
                    setupPlots();
                    setupExamples();
                    setupSavedQueries();
                    setupFactorization();
                    setupDidYouMean();
                    setupVariableChooser();
                });
                $("#input").submit(function( event ) {
                    var latex = $(this).find('input').val()
                    setLatex(latex);
                    event.preventDefault();
                });
            }
        });
    }

    function setLatexList(arr) {
        if (arr.length > 1) {
            setLatex(arr[0], arr);
        } else {
            setLatex(arr[0]);
        }
    }

    var uuid = "{{ uuid }}";
    var ref = new Firebase("https://mathpix.firebaseio.com/results/" + uuid);
    mixpanel.identify(uuid);
    ref.limitToLast(1).on("child_added", function(snapshot, prevChildKey) {
        var newPost = snapshot.val();
        setLatex(newPost.latex);
        mixpanel.track("Result", newPost);
        window.scrollTo(0, 0);
    });
</script>
{% endblock %}
